{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
  {% tailwind_css %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dist/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <style>
    body { font-family: Arial, sans-serif; }
    .container { width: 100%; max-width: 800px; margin: 0 auto; }
    .header { text-align: center; padding: 20px; }
    .content { padding: 20px; }
    .footer { text-align: center; padding: 10px; font-size: 12px; color: #888; }
  </style>
</head>
<body>
  

  <div class="container">
    <div class="header">
      <h1>Rejection Message</h1>
    </div>
    <div class="content">
        <p>We Appologize for inconvenience but your application has been rejected by our AdminPanel Because of your wrong information</p>
        <br>
        <p>Kindly book with us again but with correct information!</p>
    </div>
  </div>
      

</body>
</html>