{% load static tailwind_tags %}
<!DOCTYPE html>
{% load static %}
<html>
 <head>
        
        {% tailwind_css %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
   <meta charset="UTF-8">
    <title>User Car Display</title>
</head>
<body class="bg-gray-200 flex items-center justify-center h-screen">
    <div class="w-full max-w-md">
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h1 class="text-2xl font-extrabold mb-6 text-center">Admin Login</h1>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.username }}
                </div>
                <div class="mb-4">
                    {{ form.password }}
                </div>
                <div class="text-center">
                    <button type="submit" class="bg-[#FD8D14] hover:bg-[#0D274E] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
                </div>
            </form>
            {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                        <div class="text-red-500">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>